.contact-section
  %h3 My name is Alec Hoey,
  %p and I am a semi-professional wedding, portrait, and street photographer based out of San Francisco, CA.
  
.contact-section
  %h4 Weddings and Engagements
  %p
    I shoot weddings for hire on a package basis.
    My goal as your wedding photographer is to deliver to you the highest quality photos of your wedding that capture what makes your special day unique and to make you look great in them.
    I am also focused on capturing who you are as a couple and giving you a personal touch to your photos.
    
  %p
    All my packages include an engagement shoot before the wedding date so that you can have an idea of how I work and what to expect on the actual wedding day.
    During the engagement shoot, I will also get to know a little about you and get ideas on how to best photograph your wedding and capture the spirit of the day.

  %p
    At the end of both the wedding and engagement shoots, I will deliver to you a final, packaged, set of images, rather than selling on a per-image basis.
    My costs cover all equipment rentals, my time on location and my time post-processing your images. You can see a selection of my past work at my
    =link_to 'portfolio.', portfolio_path
    
  %p
    If you wish to hire me, inquire for my availability and a quote at
    = mail_to 'alechoey@gmail.com'
  
.contact-section
  %h4 Street
  %p
    In my free time, I shoot urban, everyday, street photography on the streets of San Francisco.
    I capture the everyday drama that happens on the streets the way it is now: people in suits rushing by, the techies and hipsters, the fashionistas, the people on the street.
    
  %p
    Everyone has something that makes them interesting and I try to capture that.